{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<!-- tables magic css -->
{% block styles %}
  {{super()}}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
{% endblock %}

{% block content %}

<div class="container2">
  <h2 align="center"><a style="background-color:#FF8C00; color:black; text-decoration:none">{{ username }}</a>'s history &#x1F4D9;</h2>

  <table id="table" class="table table-hover table-responsive">
      <thead>
          <tr>
          <th scope="col">Date</th>
          <th data-field="prenom" scope="col" data-sortable="true">Category</th>
          <th data-field="examen" scope="col" data-sortable="true">Description</th>
          <th scope="col">Value</th>
          </tr>
      </thead>
      <tbody>
  {% for history_entry in history_list %}
      <tr class="{{ history_entry.get('type') }}">
          <td >{{ history_entry.get('datetime') }}</td>
          <td>{{ history_entry.get('category') }}</td>
          <td>{{ history_entry.get('description') }}</td>
          <td>{{ history_entry.get('amount') }}</td>
      </tr>
  {% endfor %}
  </tbody>
  </table>
  <!-- <ul class="pager">
      <li><a href="?show={{ show_before }}">Previous</a></li>
      <li><a href="?show={{ show_next }}">Next</a></li>
  </ul> -->
</div>
{% endblock %}
<!-- tables magic  -->
{% block scripts %}
{{super()}}
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script src="{{url_for('static', filename='scripts.js')}}"></script>
{% endblock %}